openapi: "3.0.0"
info:
  description: wl3a m3ako ya shbab el Front 🔥
  version: 6.9.0
  title: 💪FitClub
  license:
    name: lilwel
servers:
  - url: http://ec2-13-36-165-47.eu-west-3.compute.amazonaws.com:3000/api/v1
paths:
  /auth/login:
    post:
      summary: Logs user into the system
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
      tags:
        - Auth
      responses:
        200:
          description: successful login
  /auth/register:
    post:
      summary: Register new user into the system
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
                firstName:
                  type: string
                lastName:
                  type: string
                role:
                  type: string
                  enum:
                    - TRAINEE
                    - COACH
      tags:
        - Auth
      responses:
        200:
          description: Account created successfully
  /auth/verify:
    post:
      summary: Validate user using OTP
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                code:
                  type: string
      tags:
        - Auth
      responses:
        200:
          description: Account Verified Successfully
  /auth/send-otp:
    post:
      summary: Send new OTP
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
      tags:
        - Auth
      responses:
        200:
          description: OTP Code Sent Successfully
  /accounts/{id}:
    get:
      summary: Retrieve account by ID
      parameters:
        - in: path
          name: id
          required: true
          description: Enter ID of desired account
          schema:
            type: string
      tags:
        - Account
      responses:
        200:
          description: Account retrieved successfully
    delete:
      summary: delete account by ID
      parameters:
        - in: path
          name: id
          required: true
          description: enter ID of the account to be deleted
          schema:
            type: string
      tags:
        - Account
      responses:
        200:
          description: Account deleted Successfully
    patch:
      summary: update account by ID
      parameters:
        - in: path
          name: id
          required: true
          description: enter ID of the account to be edited
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                firstName:
                  type: string 
                lastName:
                  type: string  
                imgUrl:
                  type: string      
      tags:
        - Account
      responses:
        200:
          description: Account edited Successfully
  /coaches:
    post:
      summary: Add new coach
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                bio:
                  type: string
      tags:
        - Coach
      responses:
        200:
          description: Coach account created successfully
  /coaches/{id}:
    get:
      summary: Get a specific coach
      parameters:
        - in: path
          name: id
          required: true
          description: enter ID of the account to be retrieved
          schema:
            type: string
      tags:
        - Coach
      responses:
        200:
          description: Coach with that specific Id returned
    patch:
      summary: Edit a specific coach
      parameters:
        - in: path
          name: id
          required: true
          description: enter ID of the account to be edited
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                bio:
                  type: string    
      tags:
        - Coach
      responses:
        200:
          description: Coach with that specific Id edited successfully
  /coaches/{id}/exercises:
    get:
      summary: Get a specific coach exercises
      parameters:
        - in: path
          name: id
          required: true
          description: enter ID of the coach desired to retrieve their exercises
          schema:
            type: string
      tags:
        - Coach
      responses:
        200:
          description: Coach exercises with that specific Id returned
  /coaches/{id}/reviews:
    get:
      summary: Get a specific coach reviews
      parameters:
        - in: path
          name: id
          required: true
          description: enter ID of the account desired to retrieve reviews
          schema:
            type: string
      tags:
        - Coach
      responses:
        200:
          description: Coach reviews with that specific Id returned
    post:
      summary: Add review to specific coach
      parameters:
        - in: path
          name: id
          required: true
          description: enter ID of the coach to be reviwed
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                rating:
                  type: number  
      tags:
        - Coach
      responses:
        200:
          description: Review added to this specific coach
  /coaches/reviews/{id}:
    patch:
      summary: Edit a specific coach review
      parameters:
        - in: path
          name: id
          required: true
          description: enter ID of the review 
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                rating:
                  type: number  

      tags:
        - Coach
      responses:
        200:
          description: Coach reviews with that specific Id edited successfully
    delete:
      summary: Delete review to specific coach
      parameters:
        - in: path
          name: id
          required: true
          description: enter ID of the review
          schema:
            type: string

      tags:
        - Coach
      responses:
        200:
          description: Review deleted successfully
  /exercises:
    post:
      summary: Add a new exercise
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                videoUrl:
                  type: string
                imgUrl:
                  type: string
                activeMuscle:
                  type: string
                  enum:
                    - Biceps
                    - Triceps
                    - Chest
                    - Shoulders
      tags:
        - Exercise 
      responses:
        200:
          description: Exercise added successfully
  /exercises/{id}:
    get:
      summary: Get a specific exercise
      parameters:
        - in: path
          name: id
          required: true
          description: enter ID of the exercise
          schema:
            type: string
      tags:
        - Exercise 
      responses:
        200:
          description: Exercise with that specific Id returned
    patch:
      summary: Edit a specific exercise
      parameters:
        - in: path
          name: id
          required: true
          description: enter ID of the exercise to be edited
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                videoUrl:
                  type: string
                imgUrl:
                  type: string
                activeMuscle:
                  type: string
                  enum:
                    - Biceps
                    - Triceps
                    - Chest
                    - Shoulders 
      tags:
        - Exercise 
      responses:
        200:
          description: Exercise with that specific Id edited successfully
    delete:
      summary: Delete a specific exercise
      parameters:
        - in: path
          name: id
          required: true
          description: enter ID of the exercise to be deleted
          schema:
            type: string
      tags:
        - Exercise 
      responses:
        200:
          description: Exercise with that specific Id deleted successfully
  /trainees:
    post:
      summary: Add new trainee
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                age:
                  type: number
                weight:
                  type: number
                height:
                  type: number
                gender:
                  type: string
                  enum:
                    - MALE
                    - FEMALE
                goal:
                  type: string
                  enum:
                    - LOSS
                    - FIT 
      tags:
        - Trainee
      responses:
        200:
          description: Trainee account created successfully
  /trainees/{id}:
    get:
      summary: Get a specific trainee
      parameters:
        - in: path
          name: id
          required: true
          description: enter ID of the trainee to be retrieved
          schema:
            type: string
      tags:
        - Trainee
      responses:
        200:
          description: Trainee with that specific Id returned
    patch:
      summary: Edit a specific trainee
      parameters:
        - in: path
          name: id
          required: true
          description: enter ID of the account to be edited
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                age:
                  type: number
                weight:
                  type: number
                height:
                  type: number
                gender:
                  type: string
                  enum:
                    - MALE
                    - FEMALE
                goal:
                  type: string
                  enum:
                    - LOSS
                    - FIT   
      tags:
        - Trainee
      responses:
        200:
          description: Trainee with that specific Id edited successfully
